<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/ru.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    <script src="js/chart-generator.js"></script>
    <link href="css/style.css?20181210" rel="stylesheet"/>
</head>
<body>

<div id="app">
    <textarea @paste="onPaste" style="border: 2px solid #F38630; height: 20px; padding: 20px"
              placeholder="Вставьте сюда"></textarea>
    <p>или <button @click="fillSampleData">вставить пример показаний</button></p>
    <canvas id="chart" width="800" height="400"></canvas>
    <table v-if="measurements.length > 0">
        <thead>
        <tr>
            <td>Дата подачи показаний</td>
            <td>День</td>
            <td>Ночь</td>
            <td>Сумма</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="measurement in measurements">
            <td>{{ measurement.date }}</td>
            <td>{{ measurement.day }}</td>
            <td>{{ measurement.night }}</td>
            <td>{{ measurement.day + measurement.night }}</td>
        </tr>
        </tbody>
    </table>
</div>

<script src="js/app.js"></script>
</body>
</html>
